body {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(163, 164, 164);
}

header {
  grid-area: a;
}
#entete {
  color: rgb(168, 127, 23);
  margin-bottom: 5%;
  padding: 2%;
  box-shadow: 5px 5px 5px rgb(103, 103, 105),
    -0.5em -0.5em 2em rgb(102, 112, 112);
  background-color: #ffffff;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(168, 127, 23);
  font-family: arial;
}
content {
  margin-top: 6%;
  left: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3%;
  grid-auto-rows: 30%;
  grid-template-areas:
    "e a a a ."
    ". b b b ."
    ". b b b ."
    ". b b b .";
  align-items: center;
  /*grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;*/
}
#logo {
  grid-area: e;
  margin-bottom: 15%;
}

#chiffrage {
  grid-area: b;
  height: 95%;
  width: 95%;
  align-self: center;
  justify-self: center;
  padding: 2%;
  box-shadow: 4px 4px 2px rgb(103, 103, 105),
    -0.4em -0.6em 2em rgb(102, 112, 112);
  background-color: #ffffff;
  border-radius: 10px;
  border: 7px solid rgb(168, 127, 23);
}
h1 h2 {
  font-family: arial;
  font-size: 10px;
}
h3 {
  font-size: 110%;
}
p {
  font-family: arial;
}

#le_form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8%;
  grid-auto-rows: 26%;
  grid-template-areas:
    ". . . . ."
    ". a . b ."
    ". . . . ."
    ". c . d ."
    ". . . . .";
  align-items: center;
  justify-content: center;
  padding-right: 13%;
}

#div_depot {
  height: auto;
  width: 190%;
  grid-area: a;
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
#div_rate {
  height: auto;
  width: 190%;
  grid-area: b;
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
#div_objectif {
  height: auto;
  width: 190%;
  grid-area: c;
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
#div_resultat {
  height: auto;
  width: 190%;
  grid-area: d;
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
input {
  width: 70%;
  height: 120%;
}

#deposit_input {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  border: 1px solid black;
}
#rate_input {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  border: 1px solid black;
}
#threshold_input {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  border: 1px solid black;
}

#resultat_ouput {
  max-width: 100%;
  font-size: 20px;
  color: #ffffff;
  justify-content: flex-start;
  background-color: rgb(168, 127, 23);
  margin-top: 9%;
  height: 140%;
  width: 100%;
}

#bouton_calcul {
  background-color: rgb(28, 32, 52);
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 60%;
  height: 120%;
}

@media screen and (min-width: 480px) {
  /* phone < 640px */
  h3,
  p,
  input {
    font-size: 14px;
  }
}

@media (min-width: 480px) {
  h1,
  h2 {
    font-size: 18px;
  }
}
/* PERMET DE METTRE LES DIV LES UNES EN DESSOUS DES AUTRES, MAIS TOUT LE TEMPS...
JE VEUX QUE S'IL METTE QUAND L'ECRAN SE REDUIT...
@media (min-width: 480px) {
  #le_form {
    display: inline-block;
    width: 18%;
  }
}
*/
