body {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(163, 164, 164);
}

header {
  grid-area: a;
}
#entete {
  color: rgb(168, 127, 23);
  margin-bottom: 2%;
  padding: 2%;
  box-shadow: 5px 5px 5px rgb(103, 103, 105),
    -0.5em -0.5em 2em rgb(102, 112, 112);
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(168, 127, 23);
  font-family: verdana;
}
content {
  margin-top: 6%;
  left: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3%;
  grid-auto-rows: 28%;
  grid-template-areas:
    "e a a a ."
    ". b b b ."
    ". b b b ."
    ". b b b .";
  align-items: center;
}
#logo {
  grid-area: e;
  margin-bottom: 15%;
}

#chiffrage {
  grid-area: b;
  height: 89%;
  width: 95%;
  align-self: center;
  justify-self: center;
  padding: 5%;
  box-shadow: 4px 4px 2px rgb(103, 103, 105),
    -0.4em -0.6em 2em rgb(102, 112, 112);
  background-color: #ffffff;
  border-radius: 10px;
  border: 7px solid rgb(168, 127, 23);
}
h1 {
  font-family: verdana;
  font-size: 100%;
}
h2 {
  font-family: verdana;
  font-size: 100%;
}
h3 {
  font-size: 100%;
}
p {
  font-family: verdana;
}

#le_form {
  display: inline-block;
  display: grid;
  grid-gap: 3%;
  align-items: center;
  justify-content: center;
  padding: auto;
  margin-bottom: 5%;
}

#div_depot {
  height: auto;
  width: 50%;
  /*grid-area: a;*/
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
#div_rate {
  height: auto;
  width: 50%;
  /*grid-area: b;*/
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
#div_objectif {
  height: auto;
  width: 50%;
  /*grid-area: c;*/
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
#div_resultat {
  height: auto;
  width: 50%;
  /*grid-area: d;*/
  text-align: center;
  background-color: rgb(126, 135, 175);
  padding-bottom: 10%;
  border-radius: 5px;
}
input {
  width: 40%;
  height: 120%;
}

#deposit_input {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  border: 1px solid black;
}
#rate_input {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  border: 1px solid black;
}
#threshold_input {
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  border: 1px solid black;
}

#resultat_ouput {
  max-width: 100%;
  font-size: 20px;
  color: #ffffff;
  justify-content: flex-start;
  background-color: rgb(168, 127, 23);
  margin-top: 9%;
  height: 120%;
  width: 100%;
}

#bouton_calcul {
  background-color: rgb(28, 32, 52);
  color: #ffffff;
  font-family: verdana;
  width: 60%;
  height: 120%;
}
/* Quand l'ecran passe au dela de 550px, les elements se definissent comme décrit dans le @media*/
@media screen and (min-width: 550px) {
  /* phone < 640px */
  h3,
  p,
  input {
    font-size: 14px;
  }
  #le_form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    width: 100%;
  }
  #chiffrage {
    height: auto;
  }
  h1,
  h2 {
    font-size: 18px;
  }
}
